<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
        <h1>Se ha creado un nuevo pedido!</h1>
        <p>Este pedido es para el restaurant <strong>${order.restaurant.name}</strong> y
        vence a las ${order.expirationPolicy.expirationDate.format('HH:mm', 'GMT-3')}</p>
        <p>Apurate y sumate</p>
        <p>Si queres sumarte hace click <a href="@@{OrderController.addToOrder(order.id)}">aqui</a></p>
    </body>
</html>
