#{extends 'main.html' /} 
#{set title:'Home' /}
#{greenscript.js 'linkify-divs' /}

<div class="span12 relative">
	<h2 class="underline">Elegí el restaurant</h2>
	<a class="btn agregar-plato" href="@{RestaurantController.newRestaurant()}">Agregar restaurant</a>
	<div class="row top">
		#{list items:restaurants, as:'restaurant'}
		<div class="span4 local linkeable">
			<p class="url hidden">@{OrderController.createForRestaurant(restaurant.id)}</p>
			<h2>${restaurant.name}</h2>
			<p>${restaurant.telephone}</p>
		</div>
		#{/}
	</div>
</div>
</div>

