#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
    #{script 'jQuery-datetimepicker.js' /}
    #{script 'order-step-2.js' /}
#{/}


 

<h1>Crea tu orden: Paso 2</h1>

#{form @OrderController.create() , id:'creationForm' }
   
   <input type="hidden" id="restaurant.id" name="restaurant.id" value="${r.id}">
   #{list items:r.images, as:'image'}
   <img src="@{Restaurants.getPicture(image.id)}" />
    #{/list}
   #{field 'order.expirationPolicy.expirationDate'}
	<p>
	  <label>Date</label>
	  <input type="text" id="date" name="date" value="" />
	  <span class="error">${field.error}</span>
	</p>
	#{/}
	
	#{field 'dish.id'}
    <p>
      <label>Date</label>
      #{select field.name, items:dishes, valueProperty:'id', id: field.id /}
    </p>
    #{/}
    <input type="submit" value="Crear plato" />
   
#{/form}

<div id="newDish">
    <span>
	  <label>Name:</label>
	  <input type="text" id="dishDescription" name="dishName">
	  <span class="error">${field.error}</span>
	</span>
    
    <span>
	  <label>Price:</label>
	  <input type="text" id="dishPrice" name="dishPrice">
	  <span class="error">${field.error}</span>
	</span>
    
    <input id="addDish" type="button" value="add"/>
</div>

<script type="text/javascript">
	$("#addDish").click(function(){
		var dishDescription=$("#dishDescription").val();
		var dishPrice=$("#dishPrice").val();
		$.post("@{OrderController.createDish()}",{description:dishDescription, price:dishPrice, restaurant:${r.id} });
	});
</script>