#{extends 'main.html' /}
#{set title:'Home' /}

#{if flash.success}
<h1>${flash.success}</h1>
#{/}

<h1>Crea tu orden</h1>
<h2>Si queres crear una nueva para un restaurante, mira lo siguiente</h2>
<ul>
#{paginate.list items:restaurants, as:'restaurant'} 
<li><a href="@{OrderController.newOrderStep2(restaurant.id)}">${restaurant.name}</a></li>
#{/paginate.list}
</ul> 
#{paginate.controls items:restaurants /} 
<h2>Si queres sumarte a uno de los existenes, mira lo siguiente</h2>

<ul>
#{paginate.list items:orders, as:'order'}
<li>Orden para ${order.restaurant.name} vence a las ${order.expirationPolicy.expirationDate}. Si queres sumarte click <a href="@{OrderController.show(order.id)}">aqui</a> </li> 
#{/paginate.list}
</ul> 
#{paginate.controls items:orders /} 
