#{greenscript.js 'linkify-divs' /}
%{
    if(_new) {
        r = _obj;
    } else {
        r= _obj.restaurant;
    }
}%

<!-- Contenido -->
                <div class="span12 relative">
                    <h2 class="underline">${r.name}</h2>
                    #{if _new}
                        <a class="btn agregar-plato" href="@{RestaurantController.newDish(true, null, r.id)}">Agregar plato</a>
                    #{/}
                    #{else}
                        <a class="btn agregar-plato" href="@{RestaurantController.newDish(false, _obj.id, r.id)}">Agregar plato</a>
                    #{/}
                    <ul>
                       #{list items:_dishes, as:'dish'}
                        <div class="plato linkeable">
                            #{if _new}
                                <p class="url hidden">@{OrderController.newOrder(r.id, dish.id)}</p>
                            #{/}
                            #{else}
                                <p class="url hidden">@{OrderController.addToExistentOrder(_obj.id, dish.id)}</p>
                            #{/}
                            <h2>${dish.name}</h2>
                            <p>
                                ${dish.description}
                            </p>
                            <p class="precio">
                                $${dish.price}
                            </p>
                            <!-- <a class="actualizar-precio" href="#">Actualizar</a> -->
                        </div>
                        #{/list}
                    </ul>
                </div>