#{greenscript.js "crear-pedido"/}
<script>
    var createDish = #{jsAction @OrderController.createDish(':description', ':price', ':restaurant') /}
</script>

%{
    if(_new) {
        r = _obj;
    } else {
        r= _obj.restaurant;
    }
}%
<input type="hidden" class="restaurant" name="restaurant.id" value="${r.id}">
#{if _new}

    #{field 'date'}
        
        <div class="clearfix #{ifError field.name}error#{/ifError}">
          <label for="${field.name}">Fecha de expiracion</label>
          <div class="input">
              <input class="xlarge date" type="text" id="${field.id}" name="${field.name}" value="${field.flash}" >
              <span class="help-inline">${field.error}</span>
            </div>
        </div>
    #{/}
#{/if}
#{else}
    <input type="hidden" name="order.id" value="${_obj.id}">
#{/else}
    <div class="row">
        <div class="span6">
            <h3>Si tu plato ya fue cargado, elegilo aca!</h3>
            #{field 'dish.id'}
		    <div class="clearfix #{ifError field.name}error#{/ifError}">
	            <label for="${field.name}">Plato</label>
	            <div class="input">
	              #{select field.name, items:_dishes, valueProperty:'id', id: field.id, class: 'dishes' /}
	              <span class="help-inline">${field.error}</span>
	            </div>
            </div>
		    #{/}
        </div>
        <div class="span6">
            <h3>Si tu plato no esta, primero mira las imagenes del menu y luego cargalo!</h3>
            #{list items:r.images, as:'image'}
		        <img class="thumbnail" src="@{RestaurantController.image(image.id)}" />
		   #{/list}
		   

			<div id="newDish">
			     <div class="clearfix">
			          <label for="Dishname">Nombre del plato</label>
			          <div class="input">
			              <input class="xlarge description" type="text" id="dishName" name="dishName" value="" >
			            </div>
			        </div>
				     <div class="clearfix">
				       <label for="Dishname">Precio del plato</label>
				       <div class="input">
				           <input class="xlarge price" type="text" id="dishPrice" name="dishPrice" value="" >
				         </div>
				     </div>
			    
			        <input class="addDish btn primary" type="button" value="add"/>
			</div>


		   
		                
        </div>
    </div>
