<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="UTF-8">
        <meta name="google-site-verification" content="yRLd1IIPkZt3omHAFVlYb1mQBju9VeRXInZZpOhUlas" />
        
        #{greenscript.css "main" /}
        #{greenscript.css "design" /}
        #{greenscript.css "jquery-ui-1.8.16.custom" /}
        #{greenscript.css "bootstrap.less" /}
        #{greenscript.js output:'all'/}
        #{greenscript.css output: 'all'/}
       
       
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
    </head>
    <body>
        <div class="topbar">
            <div class="topbar-inner">
                <div class="container">
                    <a class="brand" href="@{OrderController.index()}">A comerla!</a>
                    <p class="pull-right">
                        #{if user != null}
                            Logged in as ${user.email}
                        #{/}
                                               
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
        <div class="row">
		    <div class="span4 ticker">
		        #{if showMine}
		        <h2 class="underline">Mis pedidos</h2>
                    <ul>
                        #{list items:alldishes, as:'dish'}
                        <li>
                            <h3>${dish.dish.name}</h3>
                            <h4>Pedido en: ${dish.dish.restaurant.name}</h4>
                            <a class="btn" href="@{OrderController.deleteDish(dish.dishOrder.id)}">Borrar</a>
                        </li>
                        #{/}
                    </ul>
		        #{/}
			        <h2 class="underline">Pedidos actuales</h2>
	                <ul>
	                    #{list items:orders, as:'order'}
	                    <li>
	                        <h3>${order.restaurant.name}</h3>
	                        <h4>${order.expirationPolicy.expirationDate.format('HH:mm', 'GMT-3')}</h4>
	                        <p class="pedidos">
	                            ${order.dishOrders.size()}
	                        </p>
	                        <a class="btn" href="@{OrderController.addToOrder(order.id)}">Sumarme</a>
	                    </li>
	                </ul>
		        #{/}
		        
		    </div>
            #{doLayout /}
       </div>
    </body>
</html>
