<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="google-site-verification" content="yRLd1IIPkZt3omHAFVlYb1mQBju9VeRXInZZpOhUlas" />
        
        #{greenscript.css "main" /}
        #{greenscript.css "jquery-ui-1.8.16.custom" /}
        #{greenscript.css "bootstrap.less" /}
        #{greenscript.js output:'all'/}
        #{greenscript.css output: 'all'/}
       
       
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
    </head>
    <body>
        <div class="topbar">
            <div class="topbar-inner">
                <div class="container">
                    <a class="brand" href="#">A comerla!</a>
                    <p class="pull-right">
                        Logged in as username
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            #{doLayout /}
       </div>
    </body>
</html>
